@import "../../../../variables";

.table{
  height: calc(100% - 36px - @statistic-height);
  margin: 0 auto;
  position: relative;
}

.tableFooter{
  height: 20px;
  width: 100%;
  background: #fafafa;;
}