@import './variables';

:global {
  body, html, #root {
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  .ant-picker {
    width: 100%;
    input {
      text-align: center;
    }
  }

  .ant-table-container {
    // height: calc(100vh - 238px)
  }

  .ant-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // height: calc(100vh - 320px)
  }

  tr {
    height: 30px;
    min-height: 30px !important;
  }


  .ant-menu-item:first-child{
    margin-top: 0;
  }

  .ant-table-cell{
    padding: 0 !important;
  }

  .ant-menu-root{
    height: calc(100vh - @header-height - @footer-height) !important;
  }

  .ant-menu.ant-menu-inline-collapsed {
    width: 0 !important;
  }

  .ant-menu-inline-collapsed-noicon{
    display: none;
  }
}

.app {
  height: 100%;

   & > :global(.ant-spin-nested-loading) {
      height: calc(100% - @header-height - @footer-height) !important;
      max-height: 100%;
      :global(.ant-spin-container),
      :global(.ant-spin) {
        height: 100%;
        max-height: 100%;
      }
    }
}